.image_big{
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 50%;
    max-width: 787px;
}

.single_filter_main_div{
    display: flex;
    flex-direction: row;
}

.short-description{
    font-size:20px;
    margin-top:10px;
}

.title{
    font-size: 32px;
    font-weight: bold;
    margin: 0px;
}

.filter-contents{
    padding-left: 20px;
    padding-right: 20px;
}

.matrix_filter {
    display: inline-grid;
    grid-template-columns: fit-content(100px) fit-content(100px) fit-content(100px);   
    border: 1px solid black;
    grid-gap: 1px;
    background-color: black;
  }
  
  .matrix_filter > div {
    background-color: white;
    padding: 15px;
    text-align: center;
  }

@media (max-width: 900px) {
    .image_big{
        aspect-ratio: 4/3;
        object-fit: cover;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        max-width: 1000px;
    }
    
    .single_filter_main_div{
        display: flex;
    flex-direction: column;
    margin: 5%;
    }
}