.card{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    outline: 1px solid;
    outline-color: lightgray;
    
}



.card-contents{
    outline: none;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.image{
    aspect-ratio: 4/3;
    object-fit: cover;
}


.short-description{
    text-overflow: ellipsis;
    overflow: hidden; 
    font-size:16px;
    height: 24*3px;
    margin-top: 0%; 
    display: block;
    line-height: 1;
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top:0px;
}

.card-button{
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 4px;
    width: 100%;    
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color:black;
    padding: 5px;
    background-color:white;
    margin-top: 10px;
}